.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
!.env.example

BotData/logs
BotData/config.json
BotData/plugin_configs/*.json
!BotData/plugin_configs/*.example.json
BotData/Gifs/**
!BotData/Gifs/**/.gitkeep
UserData/**
UserData/stats
astrbot
napcat
sharedFolder

.pytest_cache
.mypy_cache
.ruff_cache
