HIKARI_PYTHON_IMAGE=python:3.12-slim-bookworm
HIKARI_BOT_ADMIN_PORT=54213

NAPCAT_ACCOUNT=
NAPCAT_UID=0
NAPCAT_GID=0
NAPCAT_WEBUI_PORT=3000
NAPCAT_WS_PORT=3001
NAPCAT_ONEBOT_PORT=6099
NAPCAT_REVERSE_WS_PORT=54258
NAPCAT_EXTRA_PORT=3004
NAPCAT_BOT_WS_PORT=54253

COBALT_PORT=54257
COBALT_API_URL=http://127.0.0.1:54257/

ASTRBOT_WEB_PORT=6185
ASTRBOT_PORT=6199
